.table {
    width: 100%;
    padding: 10px;
    font-family: arial;
    text-align: left;
}
th {
    background-color: rgb(240, 8, 135);
}
img {
    max-width: 80px;
}

.categori {
border: 1px solid black;
font-size:14px;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            margin: 4px 2px;
}