body {
    background-color:blueviolet;
}

.auth {
    padding: 10px;
    margin-top: 1.5rem;
}

.auth .card{
    box-shadow: 8px 12px 18px rgb(51, 50, 53);
    margin-buttom: 2.2rem;
    border-radius: 5px;
    padding: 20px;
}

.auth h3 {
    text-align: center;
    font-weight: 600;
}



